# CONEXIÓN CON BBDD
SQL_PORT = "****"
SQL_HOST = "********"
SQL_USER = "********"
SQL_PASSWORD = "********"
SQL_DATABASE = "********"

API_PORT = "****"
CORS_PORT_ORIGIN = "**************"

# AUTENTIFICACIÓN
AUTH_EMAIL = "*********@****.***"
AUTH_PASSWORD = "********"
JWT_SECRET = "********"

# DATOS PROMOCIÓN
PROMOCION_NAME = "********"
MAX_USERS_LIMIT = "****"
START_DATE = "**:**:** - **:**:**"
FINISH_DATE = "**:**:** - **:**:**"

# EMAIL SETTINGS
EMAIL_SENDER = "*********@****.***"
EMAIL_SENDER_PASSWORD = "************"
EMAIL_RECIVER = "*********@****.***"
